<%= form_for @record, :html => { :class => "form-horizontal record" } do |f| %>

  <% if @record.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @record.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :vp, "VP", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :vp, :class => 'form-control' %>
    </div>
    <%=f.error_span(:vp) %>
  </div>
  <div class="form-group">
    <%= f.label :gerencia, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :gerencia, :class => 'form-control' %>
    </div>
    <%=f.error_span(:gerencia) %>
  </div>
  <div class="form-group">
    <%= f.label :si, "SI", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :si, :class => 'form-control' %>
    </div>
    <%=f.error_span(:si) %>
  </div>
  <div class="form-group">
    <%= f.label :cargo, "Cargo", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :cargo, :class => 'form-control' %>
    </div>
    <%=f.error_span(:cargo) %>
  </div>
  <div class="form-group">
    <%= f.label :rol, "Rol", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :rol, :class => 'form-control' %>
    </div>
    <%=f.error_span(:rol) %>
  </div>
  <div class="form-group">
    <%= f.label :nvacantes, "N° Vacantes", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nvacantes, :class => 'form-control' %>
    </div>
    <%=f.error_span(:nvacantes) %>
  </div>
  <div class="form-group">
    <%= f.label :apto, "APTO", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :apto, :class => 'form-control' %>
    </div>
    <%=f.error_span(:apto) %>
  </div>
  <div class="form-group">
    <%= f.label :noapto, "NO APTO", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :noapto, :class => 'form-control' %>
    </div>
    <%=f.error_span(:noapto) %>
  </div>
  <div class="form-group">
    <%= f.label :encoordinacion, "EN COORDINACIÓN", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :encoordinacion, :class => 'form-control' %>
    </div>
    <%=f.error_span(:encoordinacion) %>
  </div>
  <div class="form-group">
    <%= f.label :npostulantes, "N° Postulantes", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :npostulantes, :class => 'form-control' %>
    </div>
    <%=f.error_span(:npostulantes) %>
  </div>
  <div class="form-group">
    <%= f.label :diasconcurso, "Días Concurso", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :diasconcurso, :class => 'form-control' %>
    </div>
    <%=f.error_span(:diasconcurso) %>
  </div>
  <div class="form-group">
    <%= f.label :fechaapertura, "Fecha Apertura", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :fechaapertura, :class => 'form-control' %>
    </div>
    <%=f.error_span(:fechaapertura) %>
  </div>
  <div class="form-group">
    <%= f.label :fechaaprobacionceo, "Fecha Aprobación CEO",  :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :fechaaprobacionceo, :class => 'form-control' %>
    </div>
    <%=f.error_span(:fechaaprobacionceo) %>
  </div>
  <div class="form-group">
    <%= f.label :fechaingreso, "Fecha Ingreso", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :fechaingreso, :class => 'form-control' %>
    </div>
    <%=f.error_span(:fechaingreso) %>
  </div>
  <div class="form-group">
    <%= f.label :status, "Status", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :status, :class => 'form-control' %>
    </div>
    <%=f.error_span(:status) %>
  </div>
  <div class="form-group">
    <%= f.label :comentario, "Comentario", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :comentario, :class => 'form-control' %>
    </div>
    <%=f.error_span(:comentario) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                records_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
