<%- model_class = Record -%>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<script type="text/javascript" src="backgroundImages.js"></script>


<%# <div class="wrap">
  <img src="pineal.png" class="rounded float-left" width="100" height="50" alt="pineal">
  <img src="somos_collahuasi.png" class="rounded float-right" width="100" height="50" alt="somos_collahuasi">
</div> %>

<div class="container">
  <div class="row">
    <h5 class="text-center">Cantidad - Cargo</h5>
  </div>
  <div class="row">
    <table class="table table-bordered cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <td class="text-center"></td>
          <% @filter_roles.each do |fr| %>
            <td class="text-center"><%= fr %></td>
          <% end %>
          <td class="text-center">Total Resultado</td>
        </tr>
      </thead>
      <tbody>
        <% @filter_vps.each do |fv| %>
          <tr>
            <td class="text-center"><%= fv %></td>
            <% @filter_roles.each do |fr| %>
              <td class="text-center"><%= @table_records.where(vp: "#{fv}", rol: "#{fr}").count %></td>
            <% end %>
            <td class="text-center"><%= @table_records.where(vp: "#{fv}").count %></td>
          </tr>
        <% end %>
        <tr>
          <td class="text-center">Total Resultado</td>
          <% @filter_roles.each do |fr| %>
            <td class="text-center"><%= @table_records.where(rol: "#{fr}").count %></td>
          <% end %>
          <td class="text-center"><%= @table_records.all.count %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row text-center">
    <%= form_tag(records_path, method: :get) do %>
      <%= select_tag "roles_filter", options_from_collection_for_select(@roles, "rol", "rol"), multiple: true %>
      <%= select_tag "vps_filter", options_from_collection_for_select(@vps,  "vp", "vp"), multiple: true %>
      <p class="small">(Para selección múltiple mantenga presionada la tecla Ctrl)</p>
      <%= submit_tag 'Filtrar', name: nil %>
    <% end %>
  </div>
</div>

<%= bar_chart records_data_path(filter: @filter), library: {  title: 'Concursos CMDIC',
                                                              hAxis: {
                                                                title: 'N° Concursos',
                                                                minValue: 0,
                                                                format:'0'
                                                              },
                                                              vAxis: {
                                                                title: 'Área'
                                                              }}
%>

<% if current_user.email == "admin@pineal.cl" %>
  <p>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_record_path,
                :class => 'btn btn-primary' %>
  </p>
<% end %>

<%= form_tag(records_path, method: :get) do %>
  <% @statuses.each do |status| %>
    <% if status.present? %>
      <% checked = @filter.include? status if @filter.present? %>
      <%= check_box_tag 'filter[]', status, checked %> <%= status %></br>
    <% end %>
  <% end %>
  <%= submit_tag 'Filtrar', name: nil %>
<% end %>

<%= link_to '<button type="button" class="btn btn-primary" style="float: right;">Exportar planilla</button>'.html_safe, download_path(format: "xlsx", filter: @filter) %>

<table class="table table-bordered" >
  <thead>
    <tr>
      <th class="text-center">VP</th>
      <th class="text-center">Gerencia</th>
      <th class="text-center">SI</th>
      <th class="text-center">Cargo</th>
      <th class="text-center">Rol</th>
      <th class="text-center">N° Vacantes</th>
      <th class="text-center">APTO</th>
      <th class="text-center">NO APTO</th>
      <th class="text-center">EN COORDINACIÓN</th>
      <th class="text-center">N° Postulantes</th>
      <th class="text-center">Días Concurso</th>
      <th class="text-center">Fecha Apertura</th>
      <th class="text-center">Fecha Aprobación CEO</th>
      <th class="text-center">Fecha Ingreso</th>
      <th class="text-center">Status</th>
      <th class="text-center">Comentario</th>
      <th class="text-center">Fecha creación</th>
      <% if current_user.email == "admin@pineal.cl" %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td class="text-center"><%= record.vp %></td>
        <td class="text-center"><%= record.gerencia %></td>
        <td class="text-center"><%= record.si %></td>
        <td class="text-center"><%= record.cargo %></td>
        <td class="text-center"><%= record.rol %></td>
        <td class="text-center"><%= record.nvacantes %></td>
        <td class="text-center"><%= record.apto %></td>
        <td class="text-center"><%= record.noapto %></td>
        <td class="text-center"><%= record.encoordinacion %></td>
        <td class="text-center"><%= record.npostulantes %></td>
        <td class="text-center"><%= record.diasconcurso %></td>
        <td class="text-center"><%= record.fechaapertura %></td>
        <td class="text-center"><%= record.fechaaprobacionceo %></td>
        <td class="text-center"><%= record.fechaingreso %></td>
        <td class="text-center"><%= record.status %></td>
        <td class="text-center"><%= record.comentario %></td>
        <td class="text-center"><%= record.created_at.strftime("%d-%m") %></td>
        <% if current_user.email == "admin@pineal.cl" %>
          <td class="text-center">
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        record_path(record), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_record_path(record), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        record_path(record),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
