<%- model_class = Record -%>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

<div class="wrap">
  <img src="pineal.png" class="rounded float-left" width="100" height="50" alt="pineal">
  <img src="somos_collahuasi.png" class="rounded float-right" width="100" height="50" alt="somos_collahuasi">
</div>

<div class="container">
  <div class="row">
      <h5 class="text-center">Cantidad - Cargo</h5>
      <table class="table table-bordered cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th class="text-center"></th>
            <th class="text-center">EJE</th>
            <th class="text-center">OAS</th>
            <th class="text-center">SPS</th>
            <th class="text-center">Total Resultado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">GSO</td>
            <td class="text-center"><%= Record.where(vp: "GSO", rol: "EJE").count %></td>
            <td class="text-center"><%= Record.where(vp: "GSO", rol: "OAS").count %></td>
            <td class="text-center"><%= Record.where(vp: "GSO", rol: "SPS").count %></td>
            <td class="text-center"><%= Record.where(vp: "GSO").count %></td>
          </tr>
          <tr>
            <td class="text-center">GTAM</td>
            <td class="text-center"><%= Record.where(vp: "GTAM", rol: "EJE").count %></td>
            <td class="text-center"><%= Record.where(vp: "GTAM", rol: "OAS").count %></td>
            <td class="text-center"><%= Record.where(vp: "GTAM", rol: "SPS").count %></td>
            <td class="text-center"><%= Record.where(vp: "GTAM").count %></td>
          </tr>
          <tr>
            <td class="text-center">VPDS</td>
            <td class="text-center"><%= Record.where(vp: "VPDS", rol: "EJE").count %></td>
            <td class="text-center"><%= Record.where(vp: "VPDS", rol: "OAS").count %></td>
            <td class="text-center"><%= Record.where(vp: "VPDS", rol: "SPS").count %></td>
            <td class="text-center"><%= Record.where(vp: "VPDS").count %></td>
          </tr>
          <tr>
            <td class="text-center">VPM</td>
            <td class="text-center"><%= Record.where(vp: "VPM", rol: "EJE").count %></td>
            <td class="text-center"><%= Record.where(vp: "VPM", rol: "OAS").count %></td>
            <td class="text-center"><%= Record.where(vp: "VPM", rol: "SPS").count %></td>
            <td class="text-center"><%= Record.where(vp: "VPM").count %></td>
          </tr>
          <tr>
            <td class="text-center">VPP</td>
            <td class="text-center"><%= Record.where(vp: "VPP", rol: "EJE").count %></td>
            <td class="text-center"><%= Record.where(vp: "VPP", rol: "OAS").count %></td>
            <td class="text-center"><%= Record.where(vp: "VPP", rol: "SPS").count %></td>
            <td class="text-center"><%= Record.where(vp: "VPP").count %></td>
          </tr>
          <tr>
            <td class="text-center">VP PROY</td>
            <td class="text-center"><%= Record.where(vp: "VP PROY", rol: "EJE").count %></td>
            <td class="text-center"><%= Record.where(vp: "VP PROY", rol: "OAS").count %></td>
            <td class="text-center"><%= Record.where(vp: "VP PROY", rol: "SPS").count %></td>
            <td class="text-center"><%= Record.where(vp: "VP PROY").count %></td>
          </tr>
          <tr>
            <td class="text-center">VPAF</td>
            <td class="text-center"><%= Record.where(vp: "VPAF", rol: "EJE").count %></td>
            <td class="text-center"><%= Record.where(vp: "VPAF", rol: "OAS").count %></td>
            <td class="text-center"><%= Record.where(vp: "VPAF", rol: "SPS").count %></td>
            <td class="text-center"><%= Record.where(vp: "VPAF").count %></td>
          </tr>
          <tr>
            <td class="text-center">RRHH</td>
            <td class="text-center"><%= Record.where(vp: "RRHH", rol: "EJE").count %></td>
            <td class="text-center"><%= Record.where(vp: "RRHH", rol: "OAS").count %></td>
            <td class="text-center"><%= Record.where(vp: "RRHH", rol: "SPS").count %></td>
            <td class="text-center"><%= Record.where(vp: "RRHH").count %></td>
          </tr>
          <tr>
            <th class="text-center">Total Resultado</th>
            <td class="text-center"><%= Record.where(rol: "EJE").count %></td>
            <td class="text-center"><%= Record.where(rol: "OAS").count %></td>
            <td class="text-center"><%= Record.where(rol: "SPS").count %></td>
            <td class="text-center"><%= Record.all.count %></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<%= bar_chart records_data_path(filter: @filter), library: {  title: 'Concursos CMDIC',
                                                              hAxis: {
                                                                title: 'N° Concursos',
                                                                minValue: 0,
                                                                format:'0'
                                                              },
                                                              vAxis: {
                                                                title: 'Área'
                                                              }}
%>

<% if current_user.email == "admin@pineal.cl" %>
  <p>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_record_path,
                :class => 'btn btn-primary' %>
  </p>
<% end %>

<%= form_tag(records_path, method: :get) do %>
  <% @statuses.each do |status| %>
    <% if status.present? %>
      <% checked = @filter.include? status if @filter.present? %>
      <%= check_box_tag 'filter[]', status, checked %> <%= status %></br>
    <% end %>
  <% end %>
  <%= submit_tag 'Filtrar', name: nil %>
<% end %>

<%= link_to '<button type="button" class="btn btn-primary" style="float: right;">Exportar planilla</button>'.html_safe, download_path(format: "xlsx", filter: @filter) %>

<table class="table table-bordered" >
  <thead>
    <tr>
      <th class="text-center">VP</th>
      <th class="text-center">Gerencia</th>
      <th class="text-center">SI</th>
      <th class="text-center">Cargo</th>
      <th class="text-center">Rol</th>
      <th class="text-center">N° Vacantes</th>
      <th class="text-center">APTO</th>
      <th class="text-center">NO APTO</th>
      <th class="text-center">EN COORDINACIÓN</th>
      <th class="text-center">N° Postulantes</th>
      <th class="text-center">Días Concurso</th>
      <th class="text-center">Fecha Apertura</th>
      <th class="text-center">Fecha Aprobación CEO</th>
      <th class="text-center">Fecha Ingreso</th>
      <th class="text-center">Status</th>
      <th class="text-center">Comentario</th>
      <th class="text-center">Fecha creación</th>
      <% if current_user.email == "admin@pineal.cl" %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td class="text-center"><%= record.vp %></td>
        <td class="text-center"><%= record.gerencia %></td>
        <td class="text-center"><%= record.si %></td>
        <td class="text-center"><%= record.cargo %></td>
        <td class="text-center"><%= record.rol %></td>
        <td class="text-center"><%= record.nvacantes %></td>
        <td class="text-center"><%= record.apto %></td>
        <td class="text-center"><%= record.noapto %></td>
        <td class="text-center"><%= record.encoordinacion %></td>
        <td class="text-center"><%= record.npostulantes %></td>
        <td class="text-center"><%= record.diasconcurso %></td>
        <td class="text-center"><%= record.fechaapertura %></td>
        <td class="text-center"><%= record.fechaaprobacionceo %></td>
        <td class="text-center"><%= record.fechaingreso %></td>
        <td class="text-center"><%= record.status %></td>
        <td class="text-center"><%= record.comentario %></td>
        <td class="text-center"><%= record.created_at.strftime("%d-%m") %></td>
        <% if current_user.email == "admin@pineal.cl" %>
          <td class="text-center">
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        record_path(record), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_record_path(record), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        record_path(record),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
